<html>
    <head>
        <title>My Flask App</title>
    </head>

    <body>
        <div> Here is the housing market report for the area you requested: <br> </div>

        <!--
        <div>
            <form action="." method="POST">
                <textarea name="contents" placeholder="Enter a comment"></textarea>
                <input type="submit" value="Post comment">
            </form>
        </div>
      -->

   <img src={{ p2 }} height="500" width="700">

	 <img src={{ p1 }} height="500" width="650">
<!--   <div w3-include-html={{ p3 }} ></div> -->
  <iframe src ={{ p3 }} height="500" width="500" ><p>alt text</p></iframe>
  <p>{{ name }}</p>


<!-- '/static/images/dog.jpg' -->
    </body>
</html>
