<html>
    <head>
        <title>My Flask App</title>
    </head>

    <body>

        <div>
Enter the<br>
     </div>
      <form method="POST">
          PREFIX:<br>
          <input name="prefix"><br>
          ZIPCODE:<br>
          <input name="zipcode"><br>
          DISTANCE:<br>
          <input name="dist"><br>
          NUMBER:<br>
          <input name="n">
          <input type="submit">
      </form>
      <div>
PREFIX should be the text before <i> .craigslist.org </i>  [sfbay, newyork, washington, denver...] <br>
ZIPCODE is 5 digits and in the above craigslist region/prefix<br>
DISTANCE in miles (integer)<br>
NUMBER of postings (1-3000)<br>
 </div>
<!--
	 <p>{{ name }}</p>
 -->

<!-- '/static/images/dog.jpg' -->
    </body>
</html>
