<html>
    <head>
        <title>My Flask App</title>
    </head>

    <body>
        <div>
            Here is your market report:
        </div>

        <!--
        <div>
            <form action="." method="POST">
                <textarea name="contents" placeholder="Enter a comment"></textarea>
                <input type="submit" value="Post comment">
            </form>
        </div>
      -->
	 <p>{{ name }}</p>

	 <img src={{ p1 }} height="500" width="500">
   <img src={{ p2 }} height="500" width="500">

<!-- '/static/images/dog.jpg' -->
    </body>
</html>
