<html>
    <head>
        <title>Craigslist Housing Report</title>
    </head>

    <body>

 <div align="center">
   <h2> Craigslist Housing Analysis</h2>
   <h4> To scrape and analyze a zipcode near you, enter: </h4>
 <br>
      <form method="POST">
          <b> PREFIX </b><br>
          <input name="prefix"><br>
        <b> ZIPCODE </b> <br>
          <input name="zipcode"><br>
          <b> DISTANCE (Miles) </b><br>
          <input name="dist"><br>
          <b> NUMBER </b><br>
          <input name="n"> <br> <br>
          <input type="submit">
      </form>
</div>
<div align="center">
Instructions: <br>
PREFIX is the text preceeding <i> .craigslist.org </i>  [sfbay, newyork, washington, denver] <br>
ZIPCODE is 5 digits and in the above craigslist region<br>
DISTANCE in miles (integer)<br>
NUMBER of postings (1-3000)<br>
<br>
<img src="/static/images/houseDrawingImage.jpg" >

</div>

<!--
	 <p>{{ name }}</p>
 -->

<!-- '/static/images/dog.jpg' -->
    </body>
</html>
